.top-header {
    display: flex;
    flex-direction: column;
    justify-content: center;

    width: 100%;    

    position: fixed;
    top: 0;
    z-index: 1;

    height: 50px;
    background-color: var(--color-primary);
}

.top-header:hover {
    cursor: pointer;
}