.top-header {
    display: flex;
    align-items: center;

    width: 100%;    

    position: fixed;
    top: 0;
    z-index: 1;

    height: 60px;
    background-color: var(--color-primary);
}

.top-header:hover {
    cursor: pointer;
}

.top-header-right {
    margin-left: auto;
    margin-right: 1em;
}