.show-header {
    display: flex;
    flex-direction: column;
    justify-content: center;

    height: 100px;
    background-color: var(--main-color);
}

.show-header-icon:hover {
    cursor: pointer;
}

.show-textarea {
    margin: 0;
    margin-top: 1em;
    padding: 1em;
    width: 100%;
    height: calc(100vh - 500px);
}

.show-form {
    margin-top: 1em;
    background-color: var(--main-color);
}